@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>Demoing Continuous Delivery</title>
	<style type="text/css">
		.center {
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="center">
		<h2>This site is deployed using WebDeploy!</h2>
@*		<h2>This site is deployed using Git!</h2>*@
@*		<h2>This site is continuously delivered (CD) using GitHub!</h2>*@
		<br />
		<h3>New Version 2!</h3>
		<br />
		<h3>Follow <a href="http://twitter.com/noopman">@@noopman</a> on Twitter!</h3>
	</div>
</body>
</html>
